# ============================================================
# Project Description
# ============================================================
{%  if r.is_role() %}Ansible Role:{% endif %}
{% if r.get_item("meta","role_name") %}{{ r.get_item("meta","role_name").value }}{% else %}{{  r.get_name() }}{% endif %}

{% for role in r.get_roles(False) %}
{% for item in  r.get_type("meta",role) %}
{{ r.cli_left_space(r.capitalize(item.key),25) }} {{ item.value }}
{%  endfor %}
{% endfor %}
