{% if r.has_items("action") %}## Actions

    {%  for role in r.get_roles(False) %}
        {% if r.get_type("action",role)  %}
### {{ r.capitalize(r.fprn(role)) }}

        {% endif %}
        {% for key, values in r.get_multi_type("action",role) %}
* {{ r.capitalize(key) }}
            {% for item in values %}
                {% if item.desc != "" %}
  - {{ item.desc }}{% if role == "_ansible_playbook_" %} ({{ item.file }}){% endif %}
                {% else %}
                    {% if role == "_ansible_playbook_" %}  - ({{ item.file }}){% endif %}
                {% endif %}

            {% endfor %}
        {% endfor %}

    {%  endfor %}
{% endif %}
