{#      Playbooks      #}
{% if r.has_items("playbook", "playbook") %}
* [Playbooks](#playbooks)
{% for _obj in r.get_type("playbook", "playbook") %}
  {% for _item in _obj.keys() %}
    {% set play = _obj.get(_item) %}
  - [{{ play.key}}](#{{play.key.lower().replace(' ','-')}})
  {% endfor %}
{% endfor %}
{% endif %}
{#      Actions        #}
{% if r.has_items("action") %}
* [Actions](#actions)
{#
  {%  for role in r.get_roles(False) %}
    {% if r.get_type("action",role)  %}
  - [{{r.capitalize(r.fprn(role))}}](#{{r.fprn(role).lower().replace(' ','-')}})
    {% endif %}
  {%  endfor %}
#}
{% endif %}
{#      Tags           #}
{% if r.has_items("tag") %}
* [Tags](#tags)
{% endif %}
{#      Variables      #}
{% if r.has_items("var") %}
* [Variables](#variables)
  {% for role in r.get_roles(False) %}
    {% if  r.get_type("var",role) %}
  - [{{ r.capitalize(r.fprn(role)) }}](#{{r.fprn(role).lower().replace(' ','-')}})
    {% endif %}
  {% endfor %}
{% endif %}
{#       TODO          #}
{% if r.has_items("todo") %}
* [Todo](#todo)
  {% for key , values in r.get_multi_type("todo") %}
    {% if key != "_unset_" %}
  - [{{r.capitalize(key)}}](#{{key.lower().replace(' ','-')}})
    {% endif %}
  {% endfor %}
{% endif %}


